version: '3.9'

services:
  api:
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    env_file:
      - ./apps/api/.env
    ports:
      - "8080:8080"
    volumes:
      - ./apps/api/prisma/dev.sqlite:/app/prisma/dev.sqlite
    depends_on: []
    restart: unless-stopped
